# Hyperplane Identity Indexing
We look at the impact of default values and normalization on indexing in the identity space

1. Simple string vect[0], ssn_int, student_id_int
2. Norms
3. Defaults mapping
4. Plots

In [1]:
# synthetic data
import numpy as np
import pandas as pd

# defaults will be the low values

defaults = {
    'count_a': 0,
    'ssn': 333333333,
    'gender': 0,
}

def create_data(n, seed=0) -> pd.DataFrame:
    data = {}
    data['count_a'] = np.random.randint(low=defaults['count_a'], high=5, size=n)
    data['ssn'] = np.random.randint(low=defaults['ssn'], high=999999999, size=n)
    data['gender'] = np.random.randint(low=defaults['gender'], high=2, size=n)
    return pd.DataFrame(data)

data = create_data(1000)
data.head(2)

   count_a        ssn  gender
0        2  602273880       0
1        2  611761756       0

In [7]:
# normalize the data

from sklearn.preprocessing import MinMaxScaler

def normalize_data(data: pd.DataFrame) -> pd.DataFrame:
    scaler = MinMaxScaler()
    data = pd.DataFrame(scaler.fit_transform(data), columns=data.columns)
    return data

data = normalize_data(data)
data.describe()

           count_a          ssn       gender
count  1000.000000  1000.000000  1000.000000
mean      0.499000     0.499292     0.483000
std       0.360561     0.286901     0.499961
min       0.000000     0.000000     0.000000
25%       0.250000     0.246149     0.000000
50%       0.500000     0.486932     0.000000
75%       0.750000     0.746510     1.000000
max       1.000000     1.000000     1.000000

In [8]:
import numpy as np
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D

# Define the three points on the plane
point1 = np.array([1, 2, 3])
point2 = np.array([2, 3, 4])
point3 = np.array([3, 4, 5])

# Create a normal vector for the plane
normal = np.cross(point2 - point1, point3 - point1)

# Create a grid of points for the plane
x, y = np.meshgrid(np.linspace(-5, 5, 10), np.linspace(-5, 5, 10))
z = (-normal[0] * x - normal[1] * y - np.dot(normal, point1)) * 1. / normal[2]

# Create a figure and axis
fig = plt.figure()
ax = fig.add_subplot(111, projection='3d')

# Plot the plane
ax.plot_surface(x, y, z)

# Show the plot
plt.show()

TypeError: unsupported operand type(s) for -: 'list' and 'list'